#skill-stack{
 
   width: 100%;
   position: relative;
   border: 1px solid red;
}



#skill-stack-heading{
    text-align: center;
    -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, skyblue, #00c6ff,#00c6ff, #00c6ff, #0072ff, blue);
  color: transparent;
  font-weight: bold;
  font-size: 3rem;
}

#skill-stack{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.cardoutline{
   background-image: linear-gradient(to right bottom, skyblue, #00c6ff,#00c6ff, #00c6ff, #0072ff, blue);
   height: 100%;
   box-sizing: border-box;
   padding: 5px;
   transition: all 0.25s ease-in-out;
   width: min(100%, 7cm);
}

.cardoutline:hover{
   transform: translateY(-10px);
   
    box-shadow: 0 60px 100px rgba(0, 198, 255, 0.25);
}

.skillstackcards{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1.5rem;
   width: 100%;
   margin: 2rem 0;
}

@media (min-width: 900px) {
  .skillstackcards {
    justify-content: space-evenly;
    gap: 2rem;
  }
}

.card{
   background-color: black;
   min-height: 10cm;
   width: 100%;
   color: white;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.card-images{
   height: 3cm;
   width: 3cm;
   object-fit: cover;
   border-radius: 50%;
   object-position: center;
}

progress{
  width: 100%;
  color: linear-gradient(to right, skyblue, #00c6ff,#00c6ff, #00c6ff, #0072ff, blue, blue, blue);
}

@media (max-width: 600px) {
  #skill-stack-heading {
    font-size: 2rem;
  }

  .card {
    min-height: 8.5cm;
  }
}